<script>
    $(function () {
        //搜索按钮
        $("#search-button").click(function (){
            let rname=$("#search_input").val();
            window.location.href = "/mysearchresult?rname="+rname+"";
        });
        //判断用户是否登录
        let username;
        let uid;
        $.get("findUser", {}, function (data) {
            if (data) {
                username = data.username;
                uid = data.uid;
                $("#span_username").text(username);
                $("#login_ok").css("display", "inline");
                $("#login_no").css("display", "none");
            }
        });


        //退出按钮
        $("#exit_a").click(function () {
            $.post("exitUser",
                {
                    username: username
                },
                function (data) {
                    $("#login_ok").css("display", "none");
                    $("#login_no").css("display", "inline");
                });
        });

    //    收藏按钮

    });
</script>
<header id="header">
    <div class="top_banner">
        <img src="images/top_banner.jpg" alt="">
    </div>
    <div class="shortcut">
        <!-- 未登录状态  -->
        <div id="login_no" class="login_out">
            <a href="login.html">登录</a>
            <a href="register.html">注册</a>
        </div>
        <!-- 登录状态  -->
        <div id="login_ok" class="login">

            <span id="span_username"></span>
            <a href="/findMyFavouriteRoute" id="_favorite" class="collection">我的收藏</a>
            <button id="exit_a">退出</button>
        </div>
    </div>
    <div class="header_wrap">
        <div class="topbar">
            <div class="logo">
                <a href="/"><img style="width: 207px;height:56px" src="images/logo.jpg" alt=""></a>
            </div>
            <div class="search">
                <input name="" id="search_input" type="text" placeholder="请输入路线名称" class="search_input"
                       autocomplete="off">
                <a href="#" id="search-button" class="search-button">搜索</a>
            </div>
            <div class="hottel">
                <div class="hot_pic">
                    <img src="images/hot_tel.jpg" alt="">
                </div>
                <div class="hot_tel">
                    <p class="hot_time">客服热线(9:00-6:00)</p>
                    <p class="hot_num">400-618-9090</p>
                </div>
            </div>
        </div>
    </div>
</header>