<!--菜单栏-->
<div id="menu">
    <div class="navitem">
        <ul id="category" class="nav">
            <li class="nav-active"><a href="index.html">首页</a></li>
            <li><a href="route_list?pageNo=1">门票</a></li>
            <li><a href="route_list.html">酒店</a></li>
            <li><a href="route_list.html">香港车票</a></li>
            <li><a href="route_list.html">出境游</a></li>
            <li><a href="route_list.html">国内游</a></li>
            <li><a href="route_list.html">港澳游</a></li>
            <li><a href="route_list.html">抱团定制</a></li>
            <li><a href="route_list.html">全球自由行</a></li>
            <li><a href="favoriterank.html">收藏排行榜</a></li>
        </ul>
    </div>
</div>