

<div id="menu">
    <div class="navitem">
        <ul id="category" class="nav">


            <li class="nav-active"><a href="index.html">首页</a></li>
            <li><a href="route_list?cId=1&pageNo=1">门票</a></li>
            <li><a href="route_list?cId=2&pageNo=1">酒店</a></li>
            <li><a href="route_list?cId=3&pageNo=1">香港车票</a></li>
            <li><a href="route_list?cId=4&pageNo=1">出境游</a></li>
            <li><a href="route_list?cId=5&pageNo=1">国内游</a></li>
            <li><a href="route_list?cId=6&pageNo=1">港澳游</a></li>
            <li><a href="route_list?cId=7&pageNo=1">抱团定制</a></li>
            <li><a href="route_list?cId=8&pageNo=1">全球自由行</a></li>
            <li><a href="favoriterank">收藏排行榜</a></li>
        </ul>
    </div>
</div>