<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voyage旅游网-搜索</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/getParameter.js"></script>
</head>
<body>
<!--引入头部-->
<header id="header"></header>
<!--引入menu-->
<div id="menu"></div>
<div class="page_one">
    <div class="contant">
        <div class="crumbs">
            <img src="images/search.png" alt="">
            <p>Voyage旅行网><span>搜索结果</span></p>
        </div>
        <div class="xinxi clearfix">
            <div class="left">
                <div class="header">
                    <span>商品信息</span>
                    <span class="jg">价格</span>
                </div>
                <ul id="route">
                    <div th:each="route:${routeList}">
                        <li>
                            <div class="img">
                                <img th:attr="src=${route.rimage}" style="width: 300px;height: 170px" src="" alt="">
                            </div>
                            <div class="text1">
                                <p th:text="${route.rname}"></p>
                                <div th:text="${route.routeIntroduce}"></div>
                                <br/>
                            </div>
                            <div class="price">
                                <p class="price_num">
                                    <span>&yen;</span>
                                    <span th:text="${route.price}">299</span>
                                    <span>起</span>
                                </p>
                                <p><a th:attr="href='route_detail?rid='+${route.rid}" href="route_detail">查看详情</a></p>
                            </div>
                        </li>
                    </div>
                </ul>
                <div class="page_num_inf">
                    <i></i> 共
                    <span th:text="${pageBean.getTotalPage()}" id="totalPage">12</span>页<span
                        th:text="${pageBean.getTotalCount()}" id="totalCount">132</span>条
                    当前第<span th:text="${pageBean.getCurrentPage()}"></span>页
                </div>
                <div class="pageNum">
                    <ul id="pageNum">
                        <li><a href="route_list?pageNo=1">首页</a></li>
                        <li th:unless="(${pageBean.getCurrentPage})<=1" class="threeword"><a
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()-1}}" href="#">上一页</a></li>
                        <li class="curPage"><a th:text="${pageBean.getCurrentPage}" href="#">1</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-${pageBean.getCurrentPage})<=0"><a
                                th:text="${pageBean.getCurrentPage}+1"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+1}}" href="#">2</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+1))<=0"><a
                                th:text="${pageBean.getCurrentPage}+2"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+2}}" href="#">3</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+2))<=0"><a
                                th:text="${pageBean.getCurrentPage}+3"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+3}}" href="#">4</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+3))<=0"><a
                                th:text="${pageBean.getCurrentPage}+4"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+4}}" href="#">5</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+4))<=0"><a
                                th:text="${pageBean.getCurrentPage}+5"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+5}}" href="#">6</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+5))<=0"><a
                                th:text="${pageBean.getCurrentPage}+6"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+6}}" href="#">7</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+6))<=0"><a
                                th:text="${pageBean.getCurrentPage}+7"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+7}}" href="#">8</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+7))<=0"><a
                                th:text="${pageBean.getCurrentPage}+8"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+8}}" href="#">9</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-(${pageBean.getCurrentPage}+8))<=0"><a
                                th:text="${pageBean.getCurrentPage}+9"
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+9}}" href="#">10</a></li>
                        <li th:unless="(${pageBean.getTotalPage}-${pageBean.getCurrentPage})<=0" class="threeword"><a
                                th:href="@{'route_list?pageNo='+${pageBean.getCurrentPage()+1}}"
                                href="javascript:;">下一页</a></li>
                        <li class="threeword"><a th:href="@{'route_list?pageNo='+${pageBean.getTotalPage()}}"
                                                 href="javascript:;">末页</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <div class="hot">HOT</div>
                    <span>热门推荐</span>
                </div>
                <ul>
                    <li>
                        <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                        <div class="right">
                            <p>清远新银盏温泉度假村酒店/自由行套...</p>
                            <p>网付价<span>&yen;<span>899</span>起</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                        <div class="right">
                            <p>清远新银盏温泉度假村酒店/自由行套...</p>
                            <p>网付价<span>&yen;<span>899</span>起</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                        <div class="right">
                            <p>清远新银盏温泉度假村酒店/自由行套...</p>
                            <p>网付价<span>&yen;<span>899</span>起</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                        <div class="right">
                            <p>清远新银盏温泉度假村酒店/自由行套...</p>
                            <p>网付价<span>&yen;<span>899</span>起</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                        <div class="right">
                            <p>清远新银盏温泉度假村酒店/自由行套...</p>
                            <p>网付价<span>&yen;<span>899</span>起</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--引入尾部-->
<footer id="footer"></footer>
<!--导入布局js，共享header和footer-->
<script type="text/javascript" src="js/include.js"></script>
</body>

</html>