<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuist.voyagesite.mapper.CategoryMapper">
    <select id="findAll" resultType="cn.edu.nuist.voyagesite.domain.Category">
            select * from   tab_category
    </select>
</mapper>