<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuist.voyagesite.mapper.FavoriteMapper">
    <select id="findFavoriteByUId" resultType="route">
        select *
        from tab_route
        where rid in (
            SELECT rid
            FROM tab_favorite
            WHERE uid = #{uid}
        )

    </select>

    <select id="findRouteByList" resultType="route">

    </select>
    <insert id="addFavoriteByUId">
        INSERT INTO tab_favorite(rid, date, uid) VALUE (#{rid},#{date},#{uid})
    </insert>


</mapper>