<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuist.voyagesite.mapper.RouteMapper">
    <select id="allRouteList" resultType="cn.edu.nuist.voyagesite.domain.Route">
        select *
        from tab_route
    </select>
    <select id="findRouteDetailByRid" resultMap="routeDetail">
        SELECT DISTINCT
                        tr.rid,tr.rname,tr.price,tr.routeIntroduce,tr.rflag ,
                        tr.rdate,tr.isThemeTour,tr.count,tr.cid,tr.rimage,
                        ts.sid,tr.sourceId,ts.sname,ts.consphone,ts.address
        FROM tab_route AS tr ,tab_seller AS ts WHERE tr.sid=ts.sid AND tr.rid=#{rid}
    </select>
    
    <resultMap id="routeDetail" type="cn.edu.nuist.voyagesite.domain.RouteDetail">
        <association property="route" javaType="cn.edu.nuist.voyagesite.domain.Route">
            <id column="rid" property="rid"/>
            <result column="rname" property="rname"/>
            <result column="price" property="price"/>
            <result column="routeIntroduce" property="routeIntroduce"/>
            <result column="rflag" property="rflag"/>
            <result column="rdate" property="rdate"/>
            <result column="isThemeTour" property="isThemeTour"/>
            <result column="count" property="count"/>
            <result column="cid" property="cid"/>
            <result column="rimage" property="rimage"/>
            <result column="sourceId" property="sourceId"/>
        </association>
        <association property="seller" javaType="cn.edu.nuist.voyagesite.domain.Seller">
            <id column="sid" property="sid"/>
            <result column="sname" property="sname"/>
            <result column="consphone" property="consphone"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>
</mapper>