<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuist.voyagesite.mapper.RouteMapper">
    <select id="allRouteList" resultType="cn.edu.nuist.voyagesite.domain.Route">
        SELECT *
        FROM tab_route
    </select>
    <select id="findRouteDetailByRid" resultMap="routeDetail">
        SELECT DISTINCT tr.rid,
                        tr.rname,
                        tr.price,
                        tr.routeIntroduce,
                        tr.rflag,
                        tr.rdate,
                        tr.count,
                        tr.cid,
                        tr.rimage,
                        ts.sid,
                        ts.sname,
                        ts.consphone,
                        ts.address,
                        tc.cname
        FROM tab_route AS tr,
             tab_seller AS ts,
             tab_category AS tc
        WHERE tr.sid = ts.sid
          AND tr.rid = #{rid}
          AND tr.cid=tc.cid
    </select>

    <resultMap id="routeDetail" type="cn.edu.nuist.voyagesite.domain.RouteDetail">
        <association property="route" javaType="cn.edu.nuist.voyagesite.domain.Route">
            <id column="rid" property="rid"/>
            <result column="rname" property="rname"/>
            <result column="price" property="price"/>
            <result column="routeIntroduce" property="routeIntroduce"/>
            <result column="rflag" property="rflag"/>
            <result column="rdate" property="rdate"/>
            <result column="count" property="count"/>
            <result column="rimage" property="rimage"/>
        </association>
        <association property="seller" javaType="cn.edu.nuist.voyagesite.domain.Seller">
            <id column="sid" property="sid"/>
            <result column="sname" property="sname"/>
            <result column="consphone" property="consphone"/>
            <result column="address" property="address"/>
        </association>
        <association property="category" javaType="cn.edu.nuist.voyagesite.domain.Category">
            <id column="cid" property="cid"/>
            <result column="cname" property="cname"/>
        </association>
    </resultMap>
    <update id="addFavoriteCount">
        UPDATE tab_route
        SET count=count + 1
        WHERE rid = #{rid}
    </update>

    <select id="findRouteImageByRid" resultType="cn.edu.nuist.voyagesite.domain.RouteImg">
        SELECT rgid,rid,bigPic,smallPic FROM tab_route_img WHERE rid=#{rid}
    </select>
    
    <select id="routeCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tab_route WHERE rflag=1
    </select>

    <select id="allRouteListPage" resultType="cn.edu.nuist.voyagesite.domain.Route">
        SELECT *
        FROM tab_route
        WHERE rflag=1
        LIMIT #{page},#{limit}
    </select>

    <update id="deleteByRid">
        UPDATE tab_route SET rflag=0 WHERE rid=#{rid}
    </update>

    <insert id="addRoute" parameterType="cn.edu.nuist.voyagesite.domain.Route">
        INSERT INTO tab_route(rname,price,routeIntroduce,rflag,rdate,count,cid,rimage,sid)
        VALUES(#{rname},#{price},#{routeIntroduce},#{rflag},#{rdate},#{count},#{cid},#{rimage},#{sid})
    </insert>

    <update id="editRoute" parameterType="cn.edu.nuist.voyagesite.domain.Route">
        UPDATE tab_route SET rname=#{rname},price=#{price},routeIntroduce=#{routeIntroduce},rflag=#{rflag},count=#{count},cid=#{cid},rimage=#{rimage},sid=#{sid}
        WHERE rid=#{rid}
    </update>

    <select id="searchByRid" resultType="cn.edu.nuist.voyagesite.domain.Route">
        SELECT * FROM tab_route WHERE rid LIKE CONCAT('%',#{rid},'%') LIMIT #{page},#{limit}
    </select>

    <select id="searchByRidCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tab_route WHERE rid LIKE CONCAT('%',#{rid},'%')
    </select>

    <select id="searchByRname" resultType="cn.edu.nuist.voyagesite.domain.Route">
        SELECT * FROM tab_route WHERE rname LIKE CONCAT('%',#{rname},'%') LIMIT #{page},#{limit}
    </select>

    <select id="searchByRnameCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tab_route WHERE rname LIKE CONCAT('%',#{rname},'%')
    </select>
</mapper>